.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .card {
    max-height: 300px;
    overflow: hidden;

    .card-header {
      justify-content: space-between;
      align-items: center;

      .title-wrapper {
        display: flex;
        align-items: center;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 40px;
      }
    }
  }
}
